@import "./components/normalize.scss";

$br: 10px;

body {
   .parent {
      width: 100%;
      background: rgb(144, 170, 230);
      background: linear-gradient(0deg, rgba(144, 170, 230, 1) 0%, rgba(244, 238, 251, 1) 100%);
      padding-top: 50px;
      padding-bottom: 50px;
      .contact-us {
         width: 500px;
         height: 600px;
         background-color: #fff;
         margin: 0 auto;
         border: 1px solid #fff;
         border-radius: $br;
         box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
         filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));

         h1 {
            font-size: 25px;
            color: #6689db;
            font-family: "Poppins", sans-serif;
            text-transform: capitalize;
            letter-spacing: 1px;
            padding-top: 10px;
            text-align: center;
         }

         form {
            width: 400px;
            background-color: #fff;
            padding-top: 20px;
            margin: 0 auto;

            .input-box {
               input {
                  width: 400px;
                  height: 50px;
                  margin-top: 20px;
                  background-color: #eef2fb;
                  border: 1px solid #eef2fb;
                  border-radius: $br;
                  outline: none;

                  &::placeholder {
                     padding-left: 10px;
                     font-family: "Poppins", sans-serif;
                     font-size: 14px;
                     letter-spacing: 0.5px;
                  }
               }
               .error{
                  border: 2px solid rgb(196, 34, 12);
               }
               .true{
                  border: 2px solid rgb(0, 255, 0);
               }

               textarea {
                  width: 400px;
                  margin-top: 20px;
                  background-color: #eef2fb;
                  border: 1px solid #eef2fb;
                  border-radius: $br;
                  outline: none;

                  &::placeholder {
                     padding-left: 10px;
                     padding-top: 10px;
                     font-family: "Poppins", sans-serif;
                     font-size: 14px;
                     letter-spacing: 0.5px;
                  }
               }
            }
            .button {
               text-align: center;
               button {
                  margin: 0 auto;
                  width: 80px;
                  height: 30px;
                  background-color: #678be6;
                  border: 1px solid #9ab0e7;
                  border-radius: $br;
                  cursor: pointer;
                  margin-top: 20px;
                  font-family: "Poppins", sans-serif;
                  color: #fff;
                  font-size: 14px;
                  letter-spacing: 0.5px;
                  outline: none;

                  &:hover {
                     background-color: #9ab0e7;
                  }
               }
            }
         }
      }
   }
}
